.heading
{
   width: 100%;
}

.heading h3
{
    display: inline;
}

.b1
{
    float: right;
}

#play
{
    margin-top: 10px;
}

.modal-dialog
{
    width: 90%
}

.copy_right_footer
{
    background-color: red;
    color: white;
}

canvas
{
    border:3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}